@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  body {
    @apply font-body;
  }
  h1,
  h2,
  h3 {
    @apply font-heading;
  }

  h1 {
    @apply text-xl;
  }

  .buttonStyle {
    @apply p-2 rounded-md min-w-[80px] bg-secondary text-white hover:bg-accent;
  }
  .contentCard {
    @apply bg-white h-[480px] w-[300px] border-2 rounded-lg overflow-hidden shadow-xl hover:scale-[1.02] transition ease-in-out duration-500 cursor-pointer;
  }
  .contentCardGrid {
    @apply grid grid-cols-layout gap-5 justify-center;
  }
}

/* index.css */
.custom-quill .ql-container {
  border: none !important;
  border-radius: 1rem !important; /* Match the rounded style */
}

.custom-quill .ql-editor {
  border: none !important;
}
